node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
yarn-error.log

# macOS
.DS_Store
ios/certs/*
api-6557810103884100244-155-7cc28e96b163.json
credentials.json